.mission-table {
  border-collapse: collapse;
  width: 90%;
  margin: 2rem auto;
}

.mission-table th {
  background-color: #f2f2f2;
  width: 15%;
}

.mission-table th,
.mission-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.mission-table th:first-child,
.mission-table td:first-child {
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.mission-table th:nth-child(2),
.mission-table td:nth-child(2) {
  width: 55%;
}

.mission-table td:nth-child(3),
.mission-table th:nth-child(4),
.mission-table td:nth-child(4) {
  text-align: center;
}

.mission-table tr:hover {
  background-color: #f5f5f5;
}

.mission-table .badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.5rem;
  font-weight: bold;
}

.mission-table .badge-success {
  background-color: #8ecae6;
  color: #fff;
}

.mission-table .badge-danger {
  background-color: #6c757d;
  color: #fff;
}

.mission-table button {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  background-color: unset;
}
